body{
    height: 3000px;
    background-color: black;
    padding-left: 370px;
    font-family: Roboto, Arial;
    padding-top: 15px;
    transition: .5s;
}

div{
    color: white;
}

.dark-mode{
    background-color: white;
    color: black;
}

li{
    color: white;
}